# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- Outline commonly used libraries in Data Science
- Demonstrate basic arithmetic operations
- Convert time units (minutes to hours)
- Use markdown to organize notebook content

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Scala

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Scikit-learn
3. TensorFlow
4. ggplot2
5. XGBoost

| Data Science Tools      |
|-------------------------|
| Jupyter Notebooks        |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [21]:
x = 5
y = 10

sum = x + y

sum

15

In [23]:
x = 5
y = 10

multi = x*y

multi

50

### This a simple arithmetic expression to mutiply then add integers

In [19]:
expre = (3*4)+5

expre

17

### This will convert 200 minutes to hours by diving by 60

In [37]:
minutes = 200
hours = minutes / 60
print(f'{hours} Hours')

3.3333333333333335 Hours

## Author

Fabian Andres Hurtado Arango